@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Composants Header et Footer */
* {
    font-family: 'Montserrat';
    box-sizing: border-box;
    margin: 0;
}

header {
    width: 86%;
    margin: 0 auto;
    margin-top: 30px;
}
.navheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.listeheader {
    display: flex;
    list-style-type: none;
}
.listeheader li {
    margin-left: 20px;
}
.listeheader a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 24px;
}

footer {
    width: 100%;
    height: 209px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.logofooter {
    width: 8%;
    margin: 40px;
}


/* Composant bannière */

.bannierecontainer {
    position: relative;
    width: 86%;
    height: 223px;
    margin: 30px auto;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

.banniere {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 0;
}

.bannierehome {
    background-image: url(/public/images/banniere1.png);
    filter: brightness(40%);
}

.titrebanniere {
    font-weight: 700;
    font-size: 48px;
    color: white;
    position: relative;
    z-index: 1;
    width: 60%;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}


.banniereabout {
    background-image: url(/public/images/banniere2.png);
}


/* Composant Card*/

a {
    text-decoration: none;
    color: black;
}

.containerCardLogements {
    display: flex;
    flex-wrap: wrap;
    width: 86%;
    background-color: #F6F6F6;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.card {
    padding-top: 15px;
    margin-left: 10px;
    position: relative;
}

.card img {
    height: 340px;
    width: 340px;
    border-radius: 25px;
    object-fit: cover;
}

.titleCard {
    font-size: 18px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

/* Composant Collapse */
.collapseLogement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}

.titleCollapse {
    cursor: pointer;
    border: none;
    height: 52px;
    width: 71%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    outline: none;
    background-color: #FF6060;
    color: white;
    font-size: 24px;
    font-weight: 700;
    border-radius: 5px;
}
.contentCollapse {
    width: 71%;
    margin: 0 auto;
    padding-top: 10px;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    overflow: hidden;
}

.contentCollapse p {
    margin-left: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
}

.descriptionAbout {
    margin-bottom: 20px;

}

.iconeCollapse {
    font-weight: 800;
    margin-right: 30px;
    font-size: 40px;
    transition: transform 0.5s ease;
}

.rotate {
    transform: rotate(-180deg);
}


/* Page Error */

.containerError {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.errorPageTitle {
    color: #FF6060;
    font-size: 350px;
    font-weight: 700;
    margin: 0;
    display: flex;
    justify-content: center;
}

.textePageError {
    color: #FF6060;
    font-weight: 500;
    font-size: 30px;
    width: 86%;
    display: flex;
    justify-content: center;
}

.lienHomepage {
    width: 22%;
    font-weight: 600;
    font-size: 18px;
    color: black;
    margin-top: 100px;
    margin-bottom: 100px;
    text-decoration: underline;
    text-underline-offset: 3px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}


/* Page des Logements */

.containerImageSlide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
}

.slideImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86%;
    position: relative;
}

.slideImage img {
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    height: 415px;
}

.navimage {
    position: absolute;
    display: flex;
    width: 95%;
    justify-content: space-between;
}

.flechedegauche, .flechededroite {
    background: transparent;
    border: transparent;
    cursor: pointer;
    opacity: 0.7;
}

.flechedegauche img, .flechededroite img {
    height: 120px;
}

.compteurimage {
    display: flex;
    position: absolute;
    bottom: 20px;
    font-weight: 500;
    font-size: 18px;
    color: white;
}

/* Infos des logements. */

.logement {
    display: flex;
    flex-direction: column;
}

.infosLogement {
    display: flex;
    justify-content: space-between;
    width: 86%;
    margin: 0 auto;

}

.titreLogement {
    font-weight: 700;
    font-size: 33px;
    color: #FF6060;
    margin-bottom: 0;
    width: 50%;
    white-space: nowrap;
    margin-top: 20px;
}

.localisationLogement {
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
}
   
.descriptionLogement, .equipementsLogement {
    width: 100%;
}

.equipementsLogement ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.filtresLogement {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.filtresLogement span {
    font-weight: 700;
    font-size: 14px;
}

.différentFiltres {
    margin-right: 10px;
    color: white;
    background-color: #FF6060;
    border-radius: 10px;
    width: auto;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.hostLogement {
    display: flex;
    flex-direction: row-reverse;
}

.hostPhoto {
    border-radius: 50%;
    width: 33%;
    position: relative;
    margin-top: 20px;
    margin-left: 30px;
}

.hostName {
    color: #FF6060;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}

.logementRating img {
    margin-left: 10px;
    cursor: pointer;
}

.logementRating {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    margin-bottom: 30px;
}

.star {
    width: 30px;
    height: auto;
    cursor: pointer;
}

/* Responsive  */


@media screen and (max-width: 1024px) {
    .titrebanniere {
        white-space: wrap;
        width: 80%;
        font-size: 33px;
    }

    .listeheader {
        padding: 0;
        white-space: nowrap;
    }
    .errorPageTitle {
        font-size: 110px;
        margin-top: 70px;
    }
    .textePageError {
        font-size: 25px;
    }
}

@media screen and (max-width : 768px) {
    .navheader img {
        width: 30%;
    }
    .listeheader {
        font-size: 18px;

    }
    .bannierecontainer {
        height: 111px;
    }
    .textePageError {
        font-size: 17px;
    }
    .containerCardLogements {
        background-color: white;
    }
}


