@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Composants Header et Footer */
* {
    font-family: 'Montserrat';
}
header {
    width: 86%;
    margin: 0 auto;
}
.navheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.listeheader {
    display: flex;
    list-style-type: none;
}
.listeheader li {
    margin-left: 40px;
}
.listeheader a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 24px;
}

footer {
    width: 100%;
    height: 209px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 35px;
}
.logofooter {
    width: 8%;
    margin: 40px;
}


/* Composant bannière */

.bannierecontainer {
    position: relative;
    width: 86%;
    height: 223px;
    margin: 30px auto;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

.banniere {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 0;
}

.bannierehome {
    background-image: url(/public/images/banniere1.png);
    filter: brightness(40%);
}

.titrebanniere {
    font-weight: 700;
    font-size: 48px;
    color: white;
    position: relative;
    z-index: 1;
    width: 60%;
    text-wrap: nowrap;
}

.banniereabout {
    background-image: url(/public/images/banniere2.png);
}


/* Composant Card*/

a {
    text-decoration: none;
    color: black;
}

.containerCardLogements {
    display: flex;
    flex-wrap: wrap;
    width: 86%;
    background-color: #F6F6F6;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.card {
    padding-top: 15px;
    margin-left: 10px;
    position: relative;
}

.card img {
    height: 340px;
    width: 340px;
    border-radius: 25px;
    object-fit: cover;
}

.titleCard {
    font-size: 18px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

/* Composant Collapse page About */

.containerCollapse {
    width: 71%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.objetsCollapse {
    background-color: #FF6060;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

.titleCollapse {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 0;
    height: 52px;
}

.contentCollapse {
    background-color: white;
    font-weight: 400;
    font-size: 18px;
    padding-left: 10px;
    margin-top: 0;
    padding-top: 20px;
}

.iconeCollapse {
    font-weight: 800;
    margin-right: 30px;
    font-size: 40px;
    transition: transform 0.5s ease;
}

.rotate {
    transform: rotate(-180deg);
}


/* Page Error */

.containerError {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.errorPageTitle {
    color: #FF6060;
    width: 41%;
    font-weight: 700;
    font-size: 288px;
    margin: 0;
}

.textePageError {
    color: #FF6060;
    width: 65%;
    font-weight: 500;
    font-size: 36px;
    margin: 0;
}

.lienHomepage {
    width: 22%;
    font-weight: 600;
    font-size: 18px;
    color: black;
    margin-top: 100px;
    margin-bottom: 100px;
    text-decoration: underline;
    text-underline-offset: 3px;
}

