@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
header {
    width: 86%;
    margin: 0 auto;
}
.navheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.listeheader {
    display: flex;
    list-style-type: none;
}
.listeheader li {
    margin-left: 40px;
}
.listeheader a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
}